html,body{height: 100%;}
body{background: #fff;}
a{ color: #474747;}
.daily_list .time{text-align: center; line-height:1;}
.daily_list .content{border-left: 1px solid #c4c2cb; margin-left:10px; padding-left:10px;min-height: 50px;}

.weui-cells{ margin-top:10px;font-size: 14px;}

.weui-title-title .weui-cell__ft:after{border-width:   0 0 2px 2px; width:10px; height:10px; border-color: #ffffff;
font-weight: bold;}
.weui-title-title .title{text-align: center; color: #000;font-size: 16px;}
.weui-title-title { margin-top:0;background: #fff;border-bottom: 1px solid #ececec;}
.weui-title-title:before{border: none;}
.weui-title-title:after{border: none;}
.weui-title-title .weui-cell_access:active{background: inherit;}
.weui-title-title .weui-cell_access .weui-cell__ft:after{border-color: #000;}
.weui-title-menu{background: url("../images/home/pull-down-icon.png");background-size: 100% 100%; width:9px; height:17px;}
.weui-title-title .weui-cell_access .weui-title-menu:after{border: none;}

.weui-grids-daily{position: relative; overflow: hidden; padding-top:10px; padding-bottom:10px;background: #ffffff;}
.weui-grids-daily .weui-grid-daily{    position: relative;
   float: left;
   padding: 5px 0;
   width: 14.28571%;
   box-sizing: border-box;text-align: center;}
.weui-grids-daily .weui-grid-bg{border: 1px solid #0950a0;border-radius: 50%;text-align: center;
line-height: 1; width: 45px; height:45px;display: inline-block; color: #0950a0;}
.weui-grids-daily .weui-grid-bg .week{ padding-top:10px; padding-bottom:3px;}
.weui-grid-daily-active .weui-grid-bg{background: #0950a0; color: #ffffff;}

.daily_detail .summuay{background: #ffffff;}
.daily_detail .summuay .img{ width:100%; height:150px;}
.daily_detail .summuay .title{text-align: center; color: #0950a0; line-height:2; font-size: 20px; }

.member_list .item{float: left; width:160px; overflow: hidden; margin-bottom:10px;}
.member_list .item .label{ padding-left:10px;float: left;font-weight: bold;}
.member_list .item .val{ padding-left:10px;float: left;}
.member_list .weui-panel{ padding-top:10px;}

.weui-navbar__item{ color: #999;font-weight: bold;}
.weui-navbar__item:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: none;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5)
}

.weui-bar__item_on .bottom{   position: absolute;
    right: 0;
    bottom: 0;    transform-origin:100% 0;
     -webkit-transform:scaleX(1);height: 2px;background: #0950a0;top:auto;left:0;
     transform:scaleX(1); }
.weui-navbar__item.weui-bar__item_on{background: inherit; color: #0950a0;font-size: 16px;font-weight: bold;}
.weui-cell_access .weui-cell__ft:after{border-color: #0950a0;}



.mslide {
    position: relative;
    height:190px;
    overflow: hidden;
}

.mslide:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 40%
}

.mslide ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.mslide li {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.mslide li:first-child {
    z-index: 1
}

.mslide li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 190px;
    border: none
}

.mslide .dot {
    position: absolute;
    right: 150px;
    bottom: 10px;
    z-index: 5;
    font-size: 0
}

.mslide .dot span {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%
}

.mslide .dot .cur {
    background-color: #dc566b;
}
.home_item_w{ padding-top:10px; padding-bottom:20px;}
.home_item{padding: 10px;box-sizing: content-box; padding-bottom:0;}
.home_item a{display: block; height:200px;position: relative;}
.home_item .img{width: 100%;border-radius: 5px; height:200px;}
.home_item .bg{background: rgba(0,0,0,.5); height:100%;    position: absolute;
  top: 0;border-radius: 5px;
  width: 100%;
  right: 0;}
.home_item .txt{position: absolute; width:100%;top:50px;text-align: center;}
.home_item .text1{display: block; color: #ffffff;font-size: 24px;}
.home_item .text2{background: #171717; color: #fcf7f7;font-size: 16px; padding:7px 16px; margin-top:5px;
display: inline-block;}

.weui-tabbar{ position: fixed;background: #fff;}
.weui-tabbar__label{ color: #474747;}

.m_title{ overflow: hidden; margin-bottom:20px; padding:0 10px;}
.m_title .m_t_l{float: left; border-bottom: 1px solid #2bc7c4;}
.m_title .m_t_l .mt_icon{display: inline-block;float: left;margin-top:5px;}
.m_title .m_t_l .mt_text{display: inline-block;float: left; color: #2bc7c4; line-height:1; margin-top:5px;}
.m_title .m_t_r{float: right;}
.m_title .m_t_r .mtr_text{display: inline-block;vertical-align: middle;}
.m_title .m_t_r .mtr_icon{display: inline-block;vertical-align: middle;}

.h_item_1{position: relative; margin-bottom:5px;}
.h_item_1 .img{ width:100%; height:100px;}
.h_item_1 .bg{position: absolute; width:100%;bottom: 0%; height:20px;background: rgba(0,0,0,.5);}
.h_item_1 .times{position: absolute;right: 13px;bottom:0;}
.h_item_1 .times .time{float: left; margin-left:5px; width:35px; height:37px;
background: url("../images/home/time_background.png") no-repeat;text-align: center;background-size: 100% 100%;}
.h_item_1 .times .time .t1{display:block; color: #fff;font-weight: bold; line-height:1.4;}
.h_item_1 .times .time .t2{display:block; color: #fff; font-size: 10px; line-height:1; margin-top:3px;}

.cate_list_page{ height:100%;background: url("../images/home/acg.png") repeat-y 78px;}
.cate_list{position: relative;}
.cate_list_ul{ width:90px;}
.cate_list_ul li{background: #f3f7f8; color: #474747;border: 1px solid #dbdbdb;border-top: 0px;border-left: 0px; }
.cate_list_ul li .txt{height:44px; line-height:44px;text-align: center; font-size: 18px;}
.cate_list_ul li.ac{background: #fff; color: #2cc6c4; border-right-color: #fff; }
.cate_list_ul .c_s{position: absolute;top:0; left:91px; right:0;}
.cate_list_ul .c_s .cs_item{float: left; width:33.3333%; text-align: center;padding-top: 15px;}
.cate_list_ul .c_s .cs_item .name{ color: #484848;}

.gl_nav { padding:10px;background: #fff;}
.gl_nav a{ line-height:1;display: inline-block; margin-right:15px; margin-bottom:10px; color: #474747;}
.gl_nav a.ac{border-bottom: 1px solid #63b4c5; color: #63b4c5;}

.goods_item_w{ overflow: hidden; padding:4px;}
.goods_item{float: left; width:50%;box-sizing: border-box; padding:4px;
}
.goods_item a{display:block;padding: 10px;background: #fff;border:1px solid #ebebeb;text-align: center;}
.goods_item a .txt{ color: #474747;}
.goods_item a .price{ color: #5c9143;}

.h_item_1_s{position: relative;}
.h_item_1{background: #fff; margin-bottom:10px;}
.h_item_1 .name{ color: #474747; padding:10px;}
.h_item_1 .ft_s1{ overflow: hidden; padding:10px; padding-top:0;}
.h_item_1 .ft_s1 .fl{float: left;}
.h_item_1 .ft_s1 .price{ color: #2cc8c7;font-size: 18px;}
.h_item_1 .ft_s1 .fr{float: right;}
.h_item_1 .ft_s1 .btn_r{display: inline-block; padding:5px 10px; color: #fff;background: #e72b29;}

.list2{}
.list2 .item_2{border-bottom: 1px solid #dbdbdb; padding:15px; overflow: hidden;}
.list2 .item_2 a{}
.list2 .item_2 img{float: right; width:100px; height:70px;border-radius: 5px;}
.list2 .item_2_s img{ float: none; width:100%; height:130px;}

